services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: SmartBin_Backend
    ports:
      - '3000:3000'

    env_file:
      - .env
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - smartbin-network

    read_only: true
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:3000/health']
      interval: 30s
      timeout: 10s
      retries: 5

networks:
  smartbin-network:
    driver: bridge
